doctype html
html
	head
		title= title

		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='Prakash Kumar')

		script(type = 'type/javascript', src='/javascripts/bootstrap.js')

		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
		link(href='http://fonts.googleapis.com/css?family=Droid+Sans', rel='stylesheet', type='text/css')

		block scripts
	body
		#wrapper
			block layout-content