extends baseLayout

block layout-content
	-contentClass = ''
	if contentLayout
		-contentClass = "only-content"
	else
		include ../controls/navBar
	#content-wrapper(class=contentClass)
		//include ./controls/pageInfo
		block content

